#wrapper{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;

}



.layout img{
  width:100%;
}

.nav_bar
{
    margin-top: -3.5px;
    background-color: lightgrey;
    font-weight: bold;
    height: 30px;
    padding-top: 8px;
}
.nav_bar > a
{
 color: black;
 padding-left: 15px;
 text-decoration: none;
}


.grid-container {
display: grid;
grid-template-rows: auto auto auto;
grid-template-columns: 32% 32% 32%;
grid-gap: 20px;
padding: 10px;
}

.grid-item > p
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-item > b
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
